$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

$border: 2px solid red;
$trips-background: #7cc8e6;
$text-color: #232526;
$section-rounds: 12px;
$trip-request-padding: 25px;
