@import '_variables';

body {
  // background: $primary-background;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  background-color: $trips-background;
  color: $text-color;
  font-size: 50px;
  border-radius: $section-rounds;
  margin-top: 50px;
  padding: 20px 100px;
  width: 45vw;
  white-space:nowrap;
  overflow:hidden;
}

.about-traveler {
  border: $border;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: $trips-background;
  color: $text-color;
  border-radius: $section-rounds;
}

.trips-information {
  display: flex;
  justify-content: space-around;
  margin-top: 55px;
  width: 100vw;
}

.trips {
  border: $border;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $trips-background;
  color: $text-color;
  border-radius: $section-rounds;
  padding: 10px 10px;
  width: 25vw;
  height: 40vh;
}

.new-trip {
  margin-top: 45px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  background-color: $trips-background;
  color: $text-color;
  border-radius: $section-rounds;
}

.new-trip-button {
  padding: 20px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}
