@import '_variables';

body {
  background-color: #41e089;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  border: $border;
  display: flex;
  justify-content: center;
  background-color: $trips-background;
  color: $text-color;
  font-size: 50px;
  border-radius: $section-rounds;
  margin-top: 50px;
  padding: 20px 100px;
  width: 45vw;
  white-space:nowrap;
  overflow:hidden;
}

.about-traveler {
  border: $border;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: $trips-background;
  color: $text-color;
  border-radius: $section-rounds;
}

.trips-information {
  display: flex;
  justify-content: space-around;
  margin-top: 55px;
  width: 100vw;
}

.trips {
  border: $border;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $trips-background;
  color: $text-color;
  border-radius: $section-rounds;
  padding: 10px 10px;
  width: 25vw;
  height: 40vh;
}

.new-trip {
  margin-top: 45px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  background-color: $trips-background;
  color: $text-color;
  border-radius: $section-rounds;
  border: $border;
}

.new-trip-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

button {
  padding: 10px;
  cursor: pointer;
  border-radius: $section-rounds;
}

button:hover {
  transition: .5s ease-in-out;
  transform: scale(1.1);
}

.start-date-entry {
  width: 75px;
}

.trip-duration,
.number-of-passengers {
  width: 50px;
}

.submit-trip-button {
  margin-top: 20px;
  width: 150px;
}

.trip-list {
  width: 150px;
}

.hidden {
  display: none !important;
}
